@tailwind base;
@tailwind components;
@tailwind utilities;

/* normal loader */
.leap-frog {
  --uib-size: 40px;
  --uib-speed: 2s;
  --uib-color: rgb(179, 59, 216);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-size);
}

.leap-frog__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.leap-frog__dot::before {
  content: "";
  display: block;
  height: calc(var(--uib-size) * 0.22);
  width: calc(var(--uib-size) * 0.22);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.leap-frog__dot:nth-child(1) {
  animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
  transform: translateX(calc(var(--uib-size) * 0.4));
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5)
    infinite;
}

.leap-frog__dot:nth-child(3) {
  transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3) infinite;
}

@keyframes leapFrog {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  33.333% {
    transform: translateX(0) rotate(180deg);
  }

  66.666% {
    transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

/* Map loader */

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}
@keyframes animloader {
  0% {
    border-color: rgb(138, 69, 228) rgba(255, 255, 255, 0)
      rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  33% {
    border-color: rgb(162, 89, 247) rgb(178, 78, 224) rgba(255, 255, 255, 0)
      rgba(255, 255, 255, 0);
  }
  66% {
    border-color: rgb(149, 70, 214) rgb(160, 97, 233) rgb(144, 50, 252)
      rgba(255, 255, 255, 0);
  }
  100% {
    border-color: rgb(186, 80, 248) rgb(156, 72, 235) rgb(186, 97, 245)
      rgb(171, 72, 238);
  }
}
